body{
  font-family: Arial, sans-serif;
  justify-content: center;
  color: black;
  background-color: white;
  margin-top: 55px;
}
.dark-mode{
  background-color: black;
  color: white;
}
#title{
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}
button{
  cursor: pointer;
  border-radius: 5px;
}

.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-content: center;
  align-items: start;
}

.songContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.artist{
  font-size: 30px;
  cursor: pointer;
}
.dropdown-menu {
  list-style-type: none;
  display: none;
}
.dropdown-menu ul li {
  display: block;
  font-size: 20px;
  padding: 2px;
}


.bottomBtn{
  position: fixed;
  bottom: 10px;
  font-size: 50px;
  margin: 10px;
  background-color: white;
  cursor: pointer;
  border-radius: 7px;
  height: 80px;
  width: 80px;
}
#liveBtn{
  width: 120px;
  left: 25px;
}
#darkBtn{
  left: 48%;
}
#addArtistBtn{
  right: 25px;
}
button span {
  visibility: hidden;
  width: 140px;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 15px;
  border: 1px solid;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
#darkBtnIcon{
  visibility: visible;
}
button:hover span {
  visibility: visible;
}
#darkBtnIcon{
  font-size: 50px;
  height: 70px;
  width: 70px;
  position: absolute;
  bottom: 0;
  left: 100%;
  border: 0;
}

a{
  text-decoration: none;
  color: black;
  font-size: 24px;
}


.dark-mode a{
  color: white;
}
.dark-mode button{
  color: white;
  background: black;
  border-color: white;
}
.dark-mode input{
  color: white;
  background: black;
  border-color: white;
}

.newSongBtn{
  border: 1px solid;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
}

.songList{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.songLink{
  text-align: center;
}

/*Song Name Button*/
.songItem {
  display: flex;
  align-items: center;
  text-align: center;
}
.songName {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
}
.editBtn {
  display: flex;
  opacity: 0;
  width: 150px;
  align-items: center;
  justify-content: center;
}
.songItem:hover .editBtn {
  opacity: 1;
  text-align: center;
  align-items: center;
}
.linkInput{
  font-size: 24px;
  border: none;
  outline: none;
  text-align: center;
}
.linkInput-mirror {
  position: absolute;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  white-space: pre;
}

.containerBtn{
  display: none;
  padding-bottom: 5px;
}
.artistInput{
  font-size: 30px;
  border: none;
  outline: none;
  text-align: center;
  display: block;
}
.artistInput-mirror {
  position: absolute;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  font-size: 30px;
}
